{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Élèves</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <img src="image.avif" alt="Logo de l'Établissement">
        <h2>Menu</h2>
        <ul>
            <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
            <li><a href="{% url 'student:index' %}">Élèves</a></li>
            <li><a href="{% url 'teacher:index' %}">Professeurs</a></li>
            <li><a href="{% url 'user:index' %}">Utilisateurs</a></li>
            <li><a href="{% url 'report:index' %}">Rapports</a></li>
        </ul>
        <div class="logout-button" onclick="logout()">Se déconnecter</div>
    </div>

    <div class="main-content">
        <header>
            <h1>Liste des Élèves</h1>
            <a href="{% url 'student:ajouterStudent' %}">
                <button class="add-button">Nouvel Élève</button>
            </a>
            <a href="#">
                <button class="add-button"> Retour </button>
            </a>
        </header>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Classe</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Dupont</td>
                    <td>Jean</td>
                    <td>1A</td>
                    <td class="action-buttons">
                        <a href="{% url 'student:modifierStudent' %}">
                            <button class="edit-button">Modifier</button>
                        </a>
                        <button class="delete-button">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Martin</td>
                    <td>Claire</td>
                    <td>2B</td>
                    <td class="action-buttons">
                        <a href="{% url 'student:modifierStudent' %}">
                            <button class="edit-button">Modifier</button>
                        </a>
                        <button class="delete-button">Supprimer</button>
                    </td>
                </tr>
                <!-- Ajoutez plus de lignes ici -->
            </tbody>
        </table>
    </div>

    <script>
        function logout() {
            // Implémentez la logique de déconnexion ici
            alert('Déconnexion effectuée !');
        }
    </script>
</body>
</html>
